@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* XL devices (default) */

.logo-back {
  width: 100%;
  height: auto;
  padding: 20px 0 20px 0;
  background-color: #0080ff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.empty {
  width: 124px;
}

.title {
  font-weight: 400;
  font-size: 37px;
  color: white;
}

.add-book {
  font-family: 'Montserrat', sans-serif;
  margin: 0 35px 0 0;
  border: none;
  border-radius: 7px;
  padding: 15px;
  color: #0080ff;
  background-color: white;
  font-weight: 700;
}

.book-container {
  border: #666 1px solid;
  height: 165px;
  margin: 15px;
  border-radius: 5px;
  background-color: rgb(231, 231, 231);
}

.library-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 95%;
  margin: 86px auto 0 auto;
}

/* Large devices */
@media only screen and (max-width: 1199.98px) {
  .library-container {
    grid-template-columns: auto auto auto;
  }
}

/* Medium devices */
@media only screen and (max-width: 991.98px) {
  .library-container {
    grid-template-columns: auto auto;
  }
}

/* Small devices */
@media only screen and (max-width: 767.98px) {
  .library-container {
    grid-template-columns: auto;
  }

  .empty {
    display: none;
  }

  .title {
    margin-left: 35px;
  }
}
